# Vagrant
**/.vagrant/*

# Binaries
submodules/*
venv/*
node_modules/*
vendor/*

#editor settings
.vscode
tsconfig.json

# Temporary files
.gem
.bundle
*.tar.gz
*.zip
*.box
.sass-cache
*~
.idea/
.project
.settings/org.eclipse.core.resources.prefs
*.sublime-project
*.sublime-workspace
*.meta
*.lock
*.DS_Store
*.swp
temp/*

# Jekyll build
_site/*
_site_dev/*

# Exception
!**/.gitkeep