  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}{% if paginator %} - Page {{ paginator.page }} / Number of Notes shown {{ paginator.posts | size }}{% endif %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | normalize_whitespace | truncate: 160 | escape | page.title }}{% elsif page.description %}{{ page.description | strip_html | normalize_whitespace | truncate: 160 | escape | page.title }}{% else %}{{ site.description | strip_html | normalize_whitespace | truncate: 160 | escape | page.title }}{% endif %}">
  <meta name="author" content="{{ site.author }}">
  <meta name="google-site-verification" content="{{ site.google_site_verification }}">
  <meta name="google-adsense-account" content="{{ site.google_adsense_account }}">
  <meta name="Last-Modified" content="{{ page.last_modified_at | date: date_format }}">
  <!-- Twitter Meta Tags -->
  {%- if site.twitter_username %}
  <meta name="twitter:site" content="{{ site.twitter_username }}">
  <meta name="twitter:creator" content="{{ site.twitter_username }}">
  {% endif -%}
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content='{{ site.url | split: "//" | last | split: "/" | first }}'>
  <meta property="twitter:url" content="{{ page.url | absolute_url }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}{% if paginator %} - page {{ paginator.page }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | normalize_whitespace | truncate: 160 | escape | page.title }}{% elsif page.description %}{{ page.description | strip_html | normalize_whitespace | truncate: 160 | escape | page.title }}{% else %}{{ site.description | strip_html | normalize_whitespace | truncate: 160 | escape | page.title }}{% endif %}">
  <meta name="twitter:image" content="{{ page.background | absolute_url }}">
  <!-- Open Graph Meta Tags -->
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}{% if paginator %} - page {{ paginator.page }}{% endif %}">
  <meta property="og:locale" content="{{ site.locale }}">
  <meta property="og:published_time" content="{% if page.date %}{{ page.date }}{% else %}{{ site.time }}{% endif %}">
  <meta property="og:updated_time" content="{{ page.last_modified_at | date: date_format }}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | normalize_whitespace | truncate: 160 | escape | page.title }}{% elsif page.description %}{{ page.description | strip_html | normalize_whitespace | truncate: 160 | escape | page.title }}{% else %}{{ site.description | strip_html | normalize_whitespace | truncate: 160 | escape | page.title }}{% endif %}">
  <meta property="og:image" content="{{ page.background | absolute_url }}">
  <meta property="og:image:secure_url" content="{{ page.background | absolute_url }}">
  <meta property="og:image:alt" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %} main image">
  <meta property="og:image:type" content="{{ page.background | absolute_url | split: '.' | last }}">
  <meta property="og:image:width" content="1792">
  <meta property="og:image:height" content="1024">
{%- if site.critical_css == true %}
  <style type="text/css">
  {%- capture critical -%}
    {% include minimal_critical.scss %}
  {% endcapture %}
  {{ critical | scssify }}
  </style>
{% else %}
  <link rel="stylesheet" href="{{ '/assets/vendor/nocc-bootstrap-theme/css/nocc-theme.min.css' | relative_url }}" type="text/css">
{% endif -%}
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" type="text/css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ 'feed.xml' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/assets/images/favicon_io/favicon.ico' | relative_url }}">
  <link rel="icon" href="{{ '/assets/images/favicon_io/favicon.ico' | relative_url }}" sizes="any">
  <link rel="icon" href="{{ '/assets/images/favicon_io/favicon.svg' | relative_url }}" type="image/svg+xml">
  <link rel="webmanifest" href="/manifest.json">
  <script type="text/javascript" data-cmp-ab="1" src="https://cdn.consentmanager.net/delivery/autoblocking/558259a802918.js" data-cmp-host="a.delivery.consentmanager.net" data-cmp-cdn="cdn.consentmanager.net" data-cmp-codesrc="0"></script>
