  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | normalize_whitespace | truncate: 160 | escape | page.title }}{% elsif page.description %}{{ page.description | strip_html | normalize_whitespace | truncate: 160 | escape | page.title }}{% else %}{{ site.description | strip_html | normalize_whitespace | truncate: 160 | escape | page.title }}{% endif %}">
  <meta name="google-site-verification" content="{{ site.google_site_verification }}">
  {%- if site.twitter_username %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="{{ site.twitter_username }}">
  <meta name="twitter:creator" content="{{ site.twitter_username }}">
  {% endif -%}
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:title" content="{{ page.title | escape }}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | normalize_whitespace | truncate: 160 | escape | page.title }}{% elsif page.description %}{{ page.description | strip_html | normalize_whitespace | truncate: 160 | escape | page.title }}{% else %}{{ site.description | strip_html | normalize_whitespace | truncate: 160 | escape | page.title }}{% endif %}">
  <meta property="og:image" content="{{ page.background | absolute_url }}">
  <meta property="og:type" content="article">
{%- if site.critical_css == true %}
  <style type="text/css">
  {%- capture critical -%}
    {% include minimal_critical.scss %}
  {% endcapture %}
  {{ critical | scssify }}
  </style>
{% else %}
  <link rel="stylesheet" href="{{ '/assets/vendor/nocc-bootstrap-theme/css/nocc-theme.min.css' | relative_url }}" type="text/css">
{% endif -%}
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" type="text/css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ 'feed.xml' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/assets/images/favicon_io/favicon.ico' | relative_url }}">
  <link rel="icon" href="{{ '/assets/images/favicon_io/favicon.ico' | relative_url }}" sizes="any">
  <link rel="icon" href="{{ '/assets/images/favicon_io/favicon.svg' | relative_url }}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{{ '/assets/images/favicon_io/favicon.png' | relative_url }}" type="image/png">
  <link rel="manifest" href="/manifest.webmanifest">