h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none !important;
}

h3 {
  font-size: calc(1.3rem + 0.81vw);
}

.row {
  height: 100%;
}

.row-heading {
  background-color: #aaa;
}

.subheading {
  transform: rotate(-90deg);
  display: flex;
  justify-content: flex-end;
  color: var(--bs-body-bg);

  @media only screen and (width <= 1020px) {
    transform: rotate(-360deg);
    display: flex;
    justify-content: flex-start;
    height: 0;
  }
}

.projects {
  opacity: .9;
  
  &:hover {
    cursor: pointer;
    border-color: var(--bs-primary-color);
    border-width: 2px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.35);
    opacity: 1;
  }

  h3 {
    font-size: 1.3rem;
  }
}

section.smallhead {
  height: 63px;
  @media only screen and (width <= 992px) {
    height: 99px;
  }
}

section.homehead .overlay {
  height: 37vh;
}

section.homehead .page-heading {
  height: 37vh;
}

section.disqus-section {
  background-color: #888;
  padding-top: 1rem;
  padding-bottom: 0.1rem;
}

.carousel .carousel-inner img {
  height: 37vh;
}

.img-thumbnail {
  height: 100%;
}

section.masthead {
  height: 18vh;

  .overlay {
    height: 18vh;
  }

  .page-heading,
  .post-heading {
    padding: 7rem 0;
  }
}

.badge-tags {
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding: 0 1em 0.3em 1em;
  background: linear-gradient(rgba(0,123,255,.5),rgba(0,123,255,.2));
  display: inline-block;
  a {
    font-size: smaller;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: none;
   }
  }
}

.meta {
  margin-bottom: 3em;
}


.home-post-preview {
  border: 1px solid var(--bs-border-color-base);
  border-radius: 1em;
  padding: 1.1rem 0 0 1.4rem;
  opacity: .8;
  margin-bottom: 1rem;

  &:hover {
    cursor: pointer;
    border-color: var(--bs-primary-color);
    border-width: 2px;
    opacity: 1;
  }

  a {
    color: var(--bs-body-color);
    text-decoration: none;

    &:hover {
      color: var(--bs-body-color);
    }
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.1rem;
  }
}

.heading-projects {
  ul {
    margin-bottom: 2rem;
    padding: 0 0 0 1rem;
    list-style: circle;
    li {
      margin-bottom: 2px;
      a {
        font-family: var(--bs-font-sans-serif);
        text-decoration: none;
        color: var(--bs-primary-color);
        &:hover {
          text-decoration: underline; 
        }
      }
      .badge {
        margin-left: 6px;
        padding: 2px 10px 2px 10px;
        font-size: small;
      }
    }
  }
}

.title-sidebar {
  margin: 0.5rem 0 1rem 0;
  font-family: var(--bs-font-sans-serif);
  font-size: medium;
  font-weight: 900;
}

.modal {
  --bs-modal-margin: 3.75rem;
  --bs-modal-box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 50%);

  background-color: rgba(100, 100, 100, 50%);
}

.fade.modal-backdrop.show {
  opacity: 0.8;
}
@media only screen and (width >= 990px) {
  section.homehead .page-heading h1 {
    padding-top: 5rem;
  }
  section.masthead .page-heading h1 {
    padding-top: 2rem;
  }
  section.masthead .post-heading h1 {
    padding-top: 3rem;
  }
  section.homehead .page-heading .subheading {
    padding-top: 3rem;
    font-size: 1.3rem;
  }

  section.masthead {
    height: 25vh !important;

    .overlay {
      height: 25vh !important;
    }
  }
}
@media only screen and (width <= 990px) {

  section.homehead .page-heading h1 {
    padding-top: 3rem !important;
  }
  section.masthead .page-heading h1 {
    padding-top: 2rem !important;
  }

  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    margin-top: 4em;
  }
}
@media only screen and (width >= 1536px) {
  h3 {
    font-size: 1.3rem;
  }

  section.homehead .page-heading h1,
  section.homehead .page-heading .h1 {
    font-size: 4rem;
  }
}

.nlogo {
  display: inline-block;

  width: 45px;
  height: 30px;

  background-image: url("/assets/images/nocc_icon.png");
  background-repeat: no-repeat;
  background-size: 30px auto;
}

.tjt-logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: url("/assets/images/tjt-logo.svg");
  background-repeat: no-repeat;
  background-size: 30px auto;
  vertical-align: middle;
}

.npm-logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: url("/assets/images/npm-logo.svg");
  background-repeat: no-repeat;
  background-size: 30px auto;
  vertical-align: middle;
}

.jekyll-logo {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-image: url("/assets/images/jekyll-logo.svg");
  background-repeat: no-repeat;
  background-size: 30px auto;
  vertical-align: middle;
}

.callout {
  padding: 1.25rem;
  margin-bottom: 2rem;
}

.head-last-date {
  color: var(--bs-white);
}

@media (max-width: 1020px) {
  .col-md-1,
  .col-md-4 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .col-md-4 {
    flex: 0 0 auto;
    width: 30%;
  }
}
