---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" fetchpriority="low" style="height:300px;background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="mastheadsmall">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {% include image-gallery.html folder="/assets/images/dreamstudio/2K" %} 

      </div>
    </div>
  </div>
