---
layout: default
---

<!-- Page Header -->
{% if page.background -%}
<header class="masthead" style="height:400px;background-image: linear-gradient(to bottom, rgba(0,0,0,0.5)0%,rgba(0,0,0,0.5) 100%), url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="mastheadsmall">
{%- endif %}
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>{{ page.title }}</h1>
          {% if page.description -%}
          <span class="subheading">{{ page.description }}</span>
          {%- endif %}
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>These images were created using <a href="https://dreamstudio.ai" hreflang="{{ site.lang }}" target="_blank" rel="noreferrer"  aria-label="Dreamstudio.ai">Dreamstudio.ai</a> with models; SDXL v1.0, SDXL beta or Stable Diffussion v2.1.</p>
      {%- include image.html folder="/assets/images/dreamstudio/2K" -%}
    </div>
  </div>
</div>
