---
layout: default
---

<main class="flex-shrink-0">
  {% if page.background %}
  <section class="masthead sechead" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.5)0%,rgba(0,0,0,0.5) 100%), url('{{ page.background }}')">
  {% else %}
  <section class="masthead sechead">
  {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle -%}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {%- endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ content }}
        </div>
      </div>
    </div>
    <div class="divider"></div>
  </section>
</main>
